# macOS-specific files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.VolumeIcon.icns
com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python-specific files
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.so

# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller build and dist directories
mac/build/
mac/dist/

# PyInstaller specific files
mac/source/*.spec  # Ignora main.spec específicamente en mac/source

# Log files
logs/
*.log

# Compiled binary files
*.o
*.dll

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Backup and temporary files
*.bak
*.tmp
*.swp
*.swo

# macOS app bundles
*.app

# Node.js-related files
node_modules/

# Ignore all hidden files that start with a dot, except .gitignore
.*
!.gitignore

# Environment files
.env
